body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d1d2d4;
    padding: 10px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d1d2d4;
    padding: 10px;
}

.logo{
    width: 100px;
    height: 100px;
}

.dropdwn{
    position: relative;
    display: inline-block;
}

.dropbtn{
    text-decoration: none;
    background-color: #d1d2d4;
    padding: 12px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d1d2d4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropbtn:hover{
    color: #F6FBF4;
    background-color: rgba(31, 73, 154, .4);
}

.navbar a{
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

.dropdown-content a{
    padding: 12px 16px;
    display: block;
}

.navbar a:hover{
    color: #F6FBF4;
    background-color: rgba(31, 73, 154, .4);
}

.dropdown:hover .dropdown-content{
   display: block;
}

.banner{
    width: 100%;
    height: 500px;
    background-image: url('../Images/Homepage/Homepage_banner.jpg');
    background-size: cover;
    background-position: center;
}

.banner h1{
    position: relative;
    top: 45%;
    text-shadow: 3px 3px 8px  #e7e7e8;
    color: #1f499a;
    font-size: 60px;
    text-align: center;

}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.content a{
    text-decoration: none;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: #4B8673;
    width: 300px;
    height: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    color: #F5DF99;
}

.card img{
    width: 300px;
    border-radius:  10px 10px 0 0;
}

.card:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}