body{
    background-color: #EDCBB1;
}

h1{
    font-size: 40px;
    color: #F2545B;
    text-align: center;
    border-style: dashed;
    border-color: #7A28CB;
}
p{
    color:#7A28CB;
    font-size: 20px;
}
.dinosize{
    width: 50%;
    height: 50%;
    float:right;
}
.dinosizep{
    float:right;
    text-align: center;
    clear:right;
    color:#F26CA7;
    background-color: #7A28CB;
    
}
.info{
    height:50%;
    background-color:#6BF178 ;
    width:50%;
    
}