
h1{
    color:rgb(255, 230, 183);
    background-color: rgb(255, 115, 0);
}
h2{
    background-color: aquamarine;
    border-radius: 100px;
}
body{
    background-color: rgb(178, 202, 230);
}
p{
    background-color: cornflowerblue;
    height: 200px;
    width: 200px;
    margin: 50px;
    padding: 20px;
    border-style: solid;
    border-width: 10px;
}
.boxone{
    background-color: cornflowerblue;
    float: left;
}
.boxtwo{
    background-color: cornflowerblue;
    float: right;
}
.Boxthree{
    background-color: cornflowerblue;
    clear: both;
    margin: auto;
}