body{
    background-color: #3581B8;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    text-align: center;
    color: white;
    border-style: solid;
    border-color: white;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    color: white;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li{
    color: white;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
h3{
    color: white;
    border-style: solid;
    border-color: white;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ERG{
    border-style: solid;
    border-color: white;
    margin-left: 100px;
    width: 250px;
    height: auto;
    float: left;
}

.ERG img{
    width: 100px;
    height: auto;
    margin-left:70px; 
}

.ERG h3{
    border-left-style: hidden;
    border-right-style: hidden;
}

.MDG{
    border-style: solid;
    border-color: white;
    margin-left: 100px;
    width: 250px;
    height: auto;
    float: left;
}

.MDG img{
    width: 100px;
    height: auto;
    margin-left:70px;
}

.MDG h3{
    border-left-style: hidden;
    border-right-style: hidden;
}

.ENG{
    border-style: solid;
    border-color: white;
    margin-left: 100px;
    width: 250px;
    height: auto;
    float: left;
}

.ENG img{
    width: 100px;
    height: auto;
    margin-left: 70px;
}

.ENG h3{
    border-left-style: hidden;
    border-right-style: hidden;
}

.MORE{
    border-style: solid;
    border-color: white;
    width: 500px;
    float: right;
    margin-right: 150px;
}

.MORE h1{
    border-right-style: hidden;
    border-left-style: hidden;
}

.dropbtn{
    background-color: aliceblue;
    color: black;
    padding:15px;
    font-size: 15px;
    cursor:pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position:absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: rgb(145, 140, 140);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: white;
}