h1{
    text-align: center;
    color: rgb(226, 202, 18);

}
body{
    background-color: rgb(82, 157, 210);
}
.Pic1{
    margin:auto;
    display: block;
}
.Pic2{
    margin:auto;
    display:block;
}
.source{
    color: rgb(147, 105, 0);
    text-align: center;
}
.maintext{
    text-align: center;
    color:aqua;
}
h2{
    text-align: center;
}
.picheading{
    color:yellow;
}