body{
    background-color:black;
    color:aquamarine;
}

p{
    background-color:red;
    color:pink;
    font-family: 'Noto Sans SC';
    font-size: 16px ;
}

h1{
    text-align:right;
    text-decoration: underline;
}

h2{
    border-top-style:dotted;
    border-right-style: outset;
    border-left-style: dashed;
    border-bottom-style: double;
    border-width:double;
    border-color:blue;
    border-radius:99px;
}

li{

    border-style:double;
    border-radius:dashed;
}
ul{
    border-style:hidden;
}