p{
    background-color: royalblue;
    height: 1px;
    width: 2400px;
    margin: 50px;
    padding: 20px;
    border-style: groove;
    border-color: black;
    border-width: 10px ;
}



.boxone{
    background-color: red;
float: left;
height: 200px;
width: 200px;
}

.boxtwo{ 
    background-color: white;
float: left;
height: 200px;
width: 200px;
enable-background: 900px;
}

.boxthree{
    background-color: blue;
float: left;
height: 200px;
width: 200px;
}